body {
  background-color: #6488A1;
  background-image: url('../img/circuito.jpg');
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
p{
	font-size: 19px;
}

.contenedor {
	background-color:rgba(6,19,57,0.7);
	display: block;
	padding: 10px 20px 10px 20px;
	margin-bottom: 20px;
	line-height: 1.42817543;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #010A24;
	color:#B8B8B8;
}
.cuboform {
	float: left;
	font-family: "Arial", Arial, Sans-serif;
	color: #B8B8B8;
	padding: 30px 70px 30px 70px; 
	margin-left: 50px;
	background: rgba(6,19,57,0.7);
	box-shadow: 10px 10px 5px #010A24;
	border-radius: 7px;
	margin-bottom: 22px;
}
textarea, input{
	border-radius: 15px;
}
h2 {
	padding: 10px;
	border-radius: 7px;
	background: rgba(6,19,57,0.7);
	text-align: center;
	line-height: 80px;
	text-shadow: 3px 3px #462656;
	color: #B8B8B8;
	font-size:80px;
	margin: 8%;
}
.carousel{
	border-radius: 200px;
}

.navbar-custom {
    background-color:rgba(6,19,57,0.7);
    color: white;
    border-radius:5%;
    width: 90%;
    margin-top:2%;
    margin-left:5%;
    box-shadow: 10px 10px 5px #010A24;
}

.navbar-custom .navbar-nav > li > a {
    color: #B8B8B8;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #B8B8B8;
}
.navbar-custom .navbar-brand {
    color:red;
    font-size: 30px;
    font-family: sans-serif ;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus { 
	text-decoration: none;
	 background-color: #242424; 
}
.navbar-custom .navbar-nav > .active{
	background-color: green;
}
.navbar-custum .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  background-color: #242424;
  color: red;
}
.footer{
	bottom: 20px;
	margin-left: 33%;
}
.texto{
	color: #B8B8B8;
	font-size: 12px;
}

.correccion{
	padding: 10%;
}





















